* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url(./Gilroy-Light.otf);
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url(./Gilroy-ExtraBold.otf);
}

:root{
    --blackbg: #040404;
    --bluebg: #161A41;
    --bluebggradient: linear-gradient(49deg, rgba(22,26,65,1) 62%, rgba(69,73,108,1) 100%);
    --darkpink: #E13AFF;
    --medpink:#ED86FE;
    --lightpink: #F2BBFF;
    --lightpeach: #fda9c9;
    --medpurple: #865EFE;


/* Black View */
    --blackviewbg: #1F1F1F;
    --blackviewmedgrey: #29292B;
    --blackviewdarkgrey: #272727;
--gradient3: linear-gradient(203deg, rgba(168,71,232,1) 1%, rgba(207,102,211,1) 70%, rgba(228,150,172,1) 97%);



    --pinktopurpgradient: linear-gradient(143deg, rgba(204,169,226,1) 0%, rgba(227,159,209,0.7637648809523809) 46%, rgba(253,147,190,1) 100%);
    --gradient2: linear-gradient(143deg, rgba(225,58,255,1) 0%, rgba(237,134,254,1) 46%, rgba(242,187,255,1) 100%);


    --stripe:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


/* purple to pink gradient 
background: rgb(204,169,226);
background: linear-gradient(143deg, rgba(204,169,226,1) 0%, rgba(227,159,209,0.7637648809523809) 46%, rgba(253,147,190,1) 100%); */


body{
    font-family: 'Gilroy Light';
    /* background: var(--pinktopurpgradient); */
    height: 100vh;
    display: flex;
    flex: 1 0 auto;
    background: rgb(244,255,255);
background: linear-gradient(161deg, rgba(244,255,255,1) 1%, rgba(176,225,252,0.7245491946778712) 100%);
}

section{
    min-width: 350px;
    background: var(--bluebggradient);

    color: #fff;
    border-radius: 50px;
    height: 80vh;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: var(--stripe);
    outline: solid 2px darkslateblue;
}


.splash-img{
    width: 80%;
    transform: translatey(0px);
    -webkit-animation: float 3s ease-in-out ;
            animation: float 3s ease-in-out ;
}


h1{
    font-family: 'Gilroy Extra Bold';
    font-size: 30px;
}

.splash-title,
.splash p{
    text-align: center;
    padding: 10px;
}


button{
    height: 60px;
    transition: 0.3s;
    border: transparent;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;

    border-radius: 32px;
    background: var(--medpink);
   
}


.splash button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    outline: solid 1px var(--medpink)   ;
    outline-offset: 3px;
    margin: 20px;
    padding: 10px;
}

.splash button img{
    width: 80%;
    vertical-align: center;
    padding-top: 3px;
}


.splash button:hover {
    background: var(--darkpink);
    outline: solid 1px var(--darkpink);
    cursor: pointer;
    transition: 0.3s;
}
  
button:active {
    background-color: var(--medpink);
}
  

/* Search screen */

.search{
    justify-content: flex-start;
  
   
}
.search h2{
    font-size: 20px;
    margin: 50px 20px 10px;
}
.search_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_wrapper p {
    font-size: 12px;
    text-align: center;
    width: 80%;
    color: #fffc
}


.input_wrapper{
    position: relative;
    margin-top: 50px;
    width: 97%;
}

input[type="search"]{
    height: 35px;
    border-radius: 32px;
    border: solid 1px transparent;
    padding-left: 20px;
    width: 100%;
    font-size: 18px;
    caret-color:  var(--darkpink);
    font-family: inherit;
}

input:focus-visible,
input:focus-within{
    outline: solid 1px var(--darkpink);
}

input::placeholder{
    font-size: 16px;
    font-style: italic;
}


.search button {
    position: absolute;
    right: 0;
    height: 35px;
    width: 65px;
}

.search button img{
    width: 30%;
    padding-top: 3px;
   
}

.search button:hover {
    background: var(--medpink);
    outline: solid 2px var(--medpink);
    outline-offset: 3px;
}

.card_container{
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}

.info_card{
    background: rgb(225,58,255);
    background: linear-gradient(96deg, rgba(225,58,255,1) 0%, rgba(237,134,254,1) 50%, rgba(242,187,255,1) 100%);

    /* background: linear-gradient(203deg, rgba(168,71,232,1) 1%, rgba(207,102,211,1) 70%, rgba(228,150,172,1) 97%); */

    height: 105px;
    padding: 10px;
    margin: 10px 20px;
    width: 300px;
    border-radius: 11% 11% 11% 11% / 30% 30% 32% 32%;





    display: flex;
    cursor: pointer;
    transition: background 0.5s ease;
    border: solid 2px var(--medpink);
    background-size:1px 200px;  
}

.info_card:hover{
    background-position:100px;  
    /* border: solid 1px var(--darkpink); */
  

}

.info_card_left{
    /* border: solid 2px lime; */
    width: 50%;
    margin-left: 14px;
}


.info_card_left p:first-child{
    font-family: 'Gilroy Extra Bold';
    font-size: 18px;
}

.info_card_left p:nth-child(2){
    font-size: 14px;
    /* padding-bottom: 3px; */
}

.info_card_left p:nth-child(3){
    /* font-size: 35px;
    font-family: 'Gilroy Extra Bold'; */

    font-size: 45px;
    font-family: 'Gilroy light';
}

.info_card_right{
    /* border: solid 2px cyan; */
    width: 50%;
    position: relative;
}


.info_card_right img{
    width: 100%;
    position: absolute;
    bottom: -10px;
    transform: translatey(0px);
  -webkit-animation: float 35 ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
}


.credit_wrapper,
.credit_wrapper a{
    font-size:12px;
    color:#fffc;
   margin-top:auto;
}
/* ---------------- */


.weather_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.weather_main header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    width: 100%;
    align-items: center;
}

.back_btn{
    height: 30px;
    width: 30px;
    align-self: flex-start;
    background: none;
    border: solid 1px #fffc;
    color: #fffc;
    filter: brightness(0.7);
    padding-bottom: 2px;
    transition: 0.2s;
}

.back_btn img{
    width: 40%;
    transform: scaleX(-1);
}
.back_btn:hover{
    filter: brightness(1);
    cursor: pointer;
}

.weather_main header h3{
    font-family: 'Gilroy Extra Bold';
    font-size: 25px;
    margin-top: -30px;
}

.weather_main header h3:before{
    content:'';
    display:block; 
}

.weather_main header p{
    font-size: 12px;
    color: #fffc;
}




.panel_temp{
    /* border: solid 2px cyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
}

/* panel_temp description */
.panel_temp p:nth-child(1){
    font-family: 'Gilroy Extra Bold';
    font-family: 'Gilroy Light';
    font-size: 18px;
}

/* panel_temp temp */
.panel_temp p:nth-child(2){
    font-family: 'Gilroy Extra Bold';
    font-family: 'Gilroy Light';
    font-size: 90px;
    margin-bottom: -50px;
    opacity: 01;
}

.panel_temp img {
    text-shadow: 5px;
    filter: drop-shadow(0 0 1rem white);
}



.panel_wind{
    background: white;
    width: 100%;
    border-radius: 11%/30%;
    height: 100px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    padding: 5px 20px;
    align-items: baseline;
}
.panel_wind div{
    width: 33%;
    height: 80px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel_wind img{
    width: 35%;
}



/* panel_wind speed */
.panel_wind p:nth-child(2){
    font-family: 'Gilroy Extra Bold';
    /* font-family: 'Gilroy Light'; */
    font-size: 13px;
    color:#363636;
    padding-top: 3px;
}

/* panel_temp wind label */
.panel_wind p:nth-child(3){
    font-family: 'Gilroy Extra Bold';
    font-family: 'Gilroy Light';
    font-size: 13px;
    color: rgb(145, 142, 142);
    padding-top: 3px;
}









.forecast_nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}




/* Forecast panel */
.panel_forecast{
   
    color: white;
    width: 95%;
}

.forecast_nav h4{
    font-family: 'Gilroy Extra Bold';
}

.forecast_nav a{
    color: var(--medpink);
    font-size: 12px;
    transition: 0.4s;
}

.forecast_nav a:hover{
    color: var(--lightpeach);
}

.hourly_forecast{
    height: 80px;
 
    width: 120%;
    color:grey;
    display:flex;
    gap:5px;
    overflow-x: scroll;
    justify-content: space-between;
}

.hourly_forecast div{
    background: white;
    border-radius: 20px;
    height: 100%;
    width: 60px;
    padding-top: 10px;
    text-align: center;
}

.hourly_forecast div:nth-child(3){
    background: linear-gradient(203deg, rgba(168,71,232,1) 1%, rgba(207,102,211,1) 70%, rgba(228,150,172,1) 97%);
    color: white;
}

.hourly_forecast div:nth-child(3) p:nth-child(3){
    color: white;
}

.hourly_forecast p{
    font-size: 10px;
}

.hourly_forecast img{
    width: 60%;
}

.hourly_forecast div p:nth-child(3){
    font-family: 'Gilroy Extra Bold';
    font-size: 14px;
    color: #363636;
}














@keyframes float {
    0% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
      transform: translatey(0px);
    }
    50% {
      /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
      transform: translatey(-5px);
    }
    100% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
      transform: translatey(0px);
    }
  }
 































.clay{
    border-radius:var(--clay-border-radius,32px);
    box-shadow:var(--clay-shadow-outset,8px 8px 16px 0 rgba(0,0,0,.25)),inset var(--clay-shadow-inset-primary,-8px -8px 16px 0 rgba(0,0,0,.25)),inset var(--clay-shadow-inset-secondary,8px 8px 16px 0 hsla(0,0%,100%,.2))}


.clay_wrapper{
    display:flex;
    margin-top: 30px;
    font-family: sans-serif;
}

.claytest {
    background: #f76d6d;
    color: whitesmoke;
    width: 300px;
    height: 100px;
    border-radius: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.clay1{
    box-shadow: 
8px 8px 16px 0 rgba(0, 0, 0, .25), /* Outset shadow */
inset -8px -8px 12px 0 rgba(0, 0, 0, .25), /* Dark inset shadow */
inset 8px 8px 12px 0 rgba(255, 255, 255, 0.4); /* Light inset shadow */
}

.clay2{
    box-shadow: 
4px 4px 8px 0 rgba(0,0,0,.3), /* Outset shadow */
inset -8px -8px 8px 0 rgba(0,0,0,0.2), /*Dark inset shadow */
inset 8px 8px 8px 0 hsla(0,0%,100%,0.4); /*Light inset shadow */
}

.clay3{
    box-shadow:
8px 8px 16px 0 rgba(0,0,0,.25), /*Outset shadow */
inset -8px -8px 16px 0 rgba(0,0,0,.25), /* Dark inset shadow */
inset 8px 8px 16px 0 hsla(0,0%,100%,.2); /* Light inset shadow */
}

